<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
        integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
        integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
        crossorigin="anonymous" />

    <!-- My own style sheets -->
    <link rel="stylesheet" href="./../../static/cdei/css/common.css">
    <link rel="stylesheet" href="./../../static/cdei/css/dashboard.css">

    <!-- Include charts.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"
        integrity="sha512-G8JE1Xbr0egZE5gNGyUm1fF764iHVfRXshIoUWCTPAbKkkItp/6qal5YAHXrxEu4HNfPTQs6HOu3D5vCGS1j3w=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
        integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"
        integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg=="
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar sticky-top flex-sm-nowrap p-0 banner">
        <div class="form-control w-100 banner">
            <a href="#">
                <img src="./../../static/cdei/images/logo_text.png" style="height: 33px; margin-left: 2%;" />
            </a>
        </div>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
            <li class="nav-item" style="font-size: 1.2em;">
                Alex
            </li>
        </ul>
        <ul class="navbar-nav px-3 banner" style="margin-right: 2%;">
            <li class="nav-item">
                <img src="./../../static/cdei/images/default_profile_pic.jpg"
                    style="width: 33px; border-radius: 50%;" />
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <main role="main" class="col-md-9 col-lg-9 ">
                <div class="container">

                    <br><br>

                    <div class="row" style="margin: 0;">
                        <span class="col-md-9 col-lg-10 pt-3 px-4">
                            <div class="d-flex flex-md-nowrap align-items-center mb-3">
                                <img src="./../../static/cdei/images/icons/ic_dashboard_active.png"
                                    style="height: 30px;" />
                                <h2 class="main-title align-self-end">ANALYTICS TOOL</h1>
                                    <h2 class="date-title align-self-end">September 2020</h2>
                            </div>
                        </span>
                    </div>

                    <br><br>

                    <div class="row" style="margin: 1em;">
                        <div class="col">
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
                                <div class="d-flex flex-wrap flex-md-nowrap align-items-center">
                                    <h5 class="sub-title">Data Sourcing
                                    </h5>
                                </div>
                            </div>

                            <div class="dash-box dash-shadow dash-margin" style="padding: 1em;">
                                <div id="data_source_map" style="width: 900px; height: 700px;"></div>
                            </div>
                        </div>

                        <br>
                        <br>

                        <div class="col">
                            <div class="container">
                                <div class="row">

                                    <!-- The col-6 will make this column bigger -->
                                    <div class="col-6">

                                        <!-- This div holds the head for the Data Usage title -->
                                        <div
                                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                                            <div class="d-flex align-items-center">
                                                <h5 class="sub-title">Usage this week
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="dash-box dash-shadow">
                                            <!-- <p class="dash-info-text"></p> -->
                                            <canvas id="dataCollection"></canvas>
                                        </div>
                                    </div>

                                    <div class="col">

                                        <!-- This div holds the head for the Manage Data title -->
                                        <div
                                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                                            <div class="d-flex align-items-center">
                                                <h5 class="sub-title">Users by age
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="dash-box dash-shadow">
                                            <canvas id="ageBar"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <br>

                                <div class="row">

                                    <!-- The col-6 will make this column bigger -->
                                    <div class="col-6">

                                        <!-- This div holds the head for the Data Usage title -->
                                        <div
                                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                                            <div class="d-flex align-items-center">
                                                <h5 class="sub-title">Block Ratio
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="dash-box dash-shadow">
                                            <canvas id="blockRatioBar"></canvas>
                                        </div>
                                    </div>

                                    <div class="col">

                                        <!-- This div holds the head for the Manage Data title -->
                                        <div
                                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
                                            <div class="d-flex align-items-center">
                                                <h5 class="sub-title">Datatypes Purchased
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="dash-box dash-shadow">
                                            <canvas id="dataType"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>

            <nav class="d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span style="color: #ACACAC;">Welcome back!</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                        </a>
                    </h4>
                    <!-- Icons taken from: https://feathericons.com -->
                    <ul class="nav flex-column sidebar-nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard_enterprise.html">
                                <img src="../../static/cdei/images/icons/ic_dashboard_normal.png"
                                    style="height: 15px;" />
                                <span>Dashboard</span><span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="purchase_data.html">
                                <img src="../../static/cdei/images/icons/ic_money_normal.png"
                                    style="height: 20px;" /></img>
                                <span>Purchases Data</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="your_databank.html">
                                <img src="../../static/cdei/images/icons/ic_datalog_normal.png"
                                    style="height: 20px;" /></img>
                                <span>Your Databank</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="analytics_tool.html">
                                <img src="../../static/cdei/images/icons/ic_analysis_active.png"
                                    style="height: 25px;" /></img>
                                <span>Analytics Tool</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="custom_tool.html">
                                <img src="../../static/cdei/images/icons/ic_transfer_normal.png"
                                    style="height: 25px;" /></img>
                                <span>Custom Data</span>
                            </a>
                        </li>
                    </ul>

                    <div class="sidebar-bottom">
                        <ul class="nav flex-column sidebar-nav-ul">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="settings" style="color: #999;"></span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="help-circle" style="color: #999;"></span>
                                    How it works?
                                </a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-danger sidebar-signout">
                            <span data-feather="log-out"></span>
                            Sign Out
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Data Density'],
                ['Australia', 400],
                ['Germany', 200],
                ['United States', 300],
                ['Brazil', 400],
                ['Canada', 500],
                ['France', 600],
                ['RU', 700]
            ]);

            var options = {
                colorAxis: { colors: ['white', '#4C66A7'] } // white to blue
            };

            var chart = new google.visualization.GeoChart(document.getElementById('data_source_map'));

            chart.draw(data, options);
        }
    </script>

    <script>

        var scatterChartData = {
            labels: ['2020-07-13', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-18'],
            datasets: [{
                label: 'My First dataset',
                borderColor: 'red',
                backgroundColor: 'red',
                data: [{ x: 1, y: 1 }, { x: 2, y: 2.5 }, { x: 3, y: 3 }, { x: 4, y: 4 }, { x: 5, y: 6.2 }]
            }]
        };

        var dataCollectionConfig = {
            type: 'line',
            data: {
                labels: ['12-07-2020', '13-07-2020', '14-07-2020', '15-07-2020', '16-07-2020', '17-07-2020', '18-07-2020'],
                datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(250, 200, 15)',
                    borderColor: 'rgb(250, 200, 15)',
                    data: [
                        11,
                        12,
                        16,
                        13,
                        15,
                        18,
                        16
                    ],
                    fill: false,
                }, {
                    label: 'My Second dataset',
                    fill: false,
                    backgroundColor: '#5b9aa3',
                    borderColor: '#5b9aa3',
                    data: [
                        6,
                        9,
                        8,
                        7,
                        10,
                        9,
                        12
                    ],
                }]
            },
            options: {
                responsive: true,
                legend: {
                    display: false
                },
                title: {
                    display: false,
                    text: 'Chart.js Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    x: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    },
                    y: {
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    },
                    xAxes: [{
                        ticks: {
                            maxRotation: 70,
                            minRotation: 50
                        }
                    }]
                }
            }
        };

        var ageBarData = {
            labels: ['10-15', '15-20', '25-30', '30-35', '35-40', '40-45', '45-50', '50-55', '55-60', '60+'],
            datasets: [{
                label: 'Example bar',
                data: [0.3, 2, 4, 7.8, 6.9, 5.7, 4.1, 2.6, 0.7, 0.3],
                backgroundColor: '#5b719b'
            }]
        };

        var ageBarConfig = {
            type: 'bar',
            data: ageBarData,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            callback: function (value, index, values) {
                                return value + ' k';
                            }
                        },
                        scaleLabel: {
                            display: false,
                            labelString: 'Data Consumption'
                        }
                    }]
                },
                // This helps remove the pesky legend at the top
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                }
            }
        };

        var blockRatioBarData = {
            labels: ['Location', 'Puchases'],
            datasets: [{
                label: 'Blocked',
                backgroundColor: 'pink',
                data: [0.7, 0.4]
            }, {
                label: 'Allowed',
                backgroundColor: '#5b719b',
                data: [0.3, 0.6]
            }]
        };

        var blockRatioBarConfig = {
            type: 'bar',
            data: blockRatioBarData,
            options: {
                title: {
                    display: false,
                    text: 'Chart.js Bar Chart - Stacked'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    },
                    yAxes: [{
                        stacked: true,
                        display: true
                    }],
                    xAxes: [{
                        stacked: true,
                        display: true
                    }]
                }
            }
        };

        var doughnut_data = {
            datasets: [{
                data: [10, 20, 30],
                backgroundColor: ['#5b719b', '#5b9aa3', 'rgb(250, 200, 15)']
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Location',
                'Web Searches',
                'Purchases'
            ]
        };

        var doughnut_config = {
            type: 'doughnut',
            data: doughnut_data,
            options: {
                legend: {
                    position: "right",
                    align: "middle"
                },
            }
        };

        window.onload = function () {
            var dataCollectionCanvas = document.getElementById('dataCollection').getContext('2d');
            window.dataCollectionSummary = new Chart(dataCollectionCanvas, dataCollectionConfig);

            var ageBarCanvas = document.getElementById('ageBar').getContext('2d');
            window.dataCollectionSummary = new Chart(ageBarCanvas, ageBarConfig);

            var blockRatioBarCanvas = document.getElementById('blockRatioBar').getContext('2d');
            window.blockRatioBarSummary = new Chart(blockRatioBarCanvas, blockRatioBarConfig);

            var doughnut_canvas = document.getElementById('dataType').getContext('2d');
            window.my_doughnut = new Chart(doughnut_canvas, doughnut_config);
        };
    </script>

</body>

</html>