<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./../../static/css/home-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script type="text/javascript" src="./../../static/cdei/js/generic.js"></script>

      <title>Clear Data</title>
    <link rel="icon" href="./../../static/cdei/images/logo-no-text.png">
</head>

<body>
    <div class="bgSetUp">
    		<div class="grid">
    			<!-- blank space -->
    			<div class=bgPhoneSetUp> </div>
			<div class="logo">
				<img class="logo" src="./../../static/cdei/images/logo.png">
					</div>
					<!-- SET UP NAVIGATION-->
			<div class="menu">
				<nav>
			    		<div class="nav-links">
			    			<ul>
			    				<li><a href="#">Enterprise</a></li>
			    				<li><a href="#">User</a></li>
			    				<li><a href="#">Login</a></li>
					</div>
				</nav>
				<!-- blank space -->
				<div></div>
				
				<!-- Blank intentional white space Row -->
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				
				<!-- Row for feature text -->
	  			<div></div>
				<div> 
					<H1 class="feature-text"> The Future of <br> Data Analytics <br> Software </H1> 
				</div>
				<div></div>
				<div></div>
				
				<!-- Row for sub text -->
				<div></div>
				
				<div class="verticalLine">
					<H2 class="sub-text"> Why let Google take your data for free when 
					we can match you with a trusted business that will pay you for it? 
					</H2> 
				</div>
				<div></div>
				<div></div>
				
				<!-- Row for button -->
				<div></div>
				<div class="tryNowButton">
					<a href="selectionPage.html">
						<button1 type="button">
							TRY OUT NOW!
						</button1>
					</a>
				</div>
				<div></div>
				<div></div>
				</div>
			</div>
    		</div>
</body>
</html>