<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- My own style sheets -->
		<link rel="stylesheet" href="./../../static/cdei/css/common.css">

  	<link rel="stylesheet" href="./../../static/cdei/css/home.css">
</head>

<body>
	<div class="video-bg">
	    <video loop muted autoplay poster="img/videoframe.jpg" class="video-bg__video">
	        <source src="./../../static/cdei/images/bg_home.mp4" type="video/mp4">
	    </video>
	</div>

	<div class="info-image">
		<img src="./../../static/cdei/images/img_intro.png" width="100%" height="100%">
	</div>
	
	<div class="product-image">
		<img src="./../../static/cdei/images/img_product.png" width="50%" height="50%">
	</div>

    <nav class="navbar sticky-top flex-sm-nowrap p-0 banner">
        <div class="form-control w-100 banner">
            <a href="home_signed_in.html">
                <img src="./../../static/cdei/images/logo_text.png" style="height: 33px; margin-left: 2%;" />
            </a>
        </div>
        <ul class="navbar-nav px-3" >
            <li class="nav-item" style="font-size: 1.2em;">
                Alex
            </li>
        </ul>
        <ul class="navbar-nav px-3 banner" style="margin-right: 2%;">
            <li class="nav-item">
                <img src="./../../static/cdei/images/default_profile_pic.jpg"
                    style="width: 33px; border-radius: 50%;" />
            </li>
        </ul>
    </nav>


	                 <!-- WORK SPACE-->
    <div class="container-fluid" >
        <div class="row" >
		  	<div class="container" style="background: url(./../../static/cdei/images/bg_home.mp4); margin-right: 20%;">
				<div> 
					<H1 class="feature-text" style="color: #fff"> The Future of <br> Data Analytics <br> Software <br>  </H1> 
				</div>
				
				<div class="sub-text">
					<H4> Why let companies take your data for free when 
					we can match you with a trusted business that will pay you for it? 
					</H4> 
				</div>


			</div>

		
		
			<!-- NAV BAR -->
            <nav class="d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span style="color: #ACACAC;">Welcome back!</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                        </a>
                    </h4>
                    <!-- Icons taken from: https://feathericons.com -->
                    <ul class="nav flex-column sidebar-nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="dashboard_enterprise.html">
                                <img src="../../static/cdei/images/icons/ic_dashboard_normal.png" 
									style="height: 15px;" />
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="purchase_data.html">
                                <img src="../../static/cdei/images/icons/ic_money_normal.png" 
									style="height: 20px;" /></img>
                                <span>Purchases Data</span><span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="your_databank.html">
                                <img src="../../static/cdei/images/icons/ic_datalog_normal.png" 
									style="height: 20px;" /></img>
                                <span>Your Databank</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="analysis_tool.html">
                                <img src="../../static/cdei/images/icons/ic_analysis_normal.png" 
									style="height: 25px;" /></img>
                                <span>Analytics Tool</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="custom_tool.html">
                                <img src="../../static/cdei/images/icons/ic_transfer_normal.png" 
									style="height: 25px;" /></img>
                                <span>Custom Data</span>
                            </a>
                        </li>
                    </ul>

                    <div class="sidebar-bottom">
                        <ul class="nav flex-column sidebar-nav-ul">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="settings" style="color: #999;"></span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="help-circle" style="color: #999;"></span>
                                    How it works?
                                </a>
                            </li>
                        </ul>
                        <a href="home.html">
	                        <button type="button" class="btn btn-danger sidebar-signout" href="home.html">
	                            <span data-feather="log-out"></span>
	                            Sign Out
	                        </button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
	
	<script>		

		
	</script>

 
</body>

</html>