<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./../../static/css/home-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script type="text/javascript" src="./../../static/cdei/js/generic.js"></script>
    <title>Clear Data</title>
    <link rel="icon" href="./../../static/cdei/images/logo-no-text.png">
</head>
<body>
    <div class="bgSetUpSelection">
    		<div class="selectionPgGrid">
    			<!-- TOP LEFT SIDE-->
    			<a href="user-dashboard.html"><div></div></a>
						<!-- MID LOGO -->
    			<div>
    				<div class="selecitonLogo">
							<a href="home.html">
							<img class="logo-no-text" src="./../../static/cdei/images/logo-no-text.png">
							</a>
						</div>
    			</div>
					
   				<!-- TOP RIGHT SIDE-->
					<a href="enterprise-dashboard.html"><div></div></a>
					<!-- MID LEFT SIDE-->
    			<a href="user-dashboard.html"><div class="leftText"><H1> FOR &nbspUSERS </h1></div></a>
    			<!-- MID MID-->
    			<div> </div>
    			<!-- MID RIGHT SIDE-->
					<a href="enterprise-dashboard.html"><div class="rightText"><H1> FOR &nbspENTERPRISE </H1></div></a>
					<!-- BOTTOM LEFT SIDE-->
    			<a href="user-dashboard.html"><div></div></a>
    			<div> </div>
  				<!-- BOTTOM RIGHT SIDE-->
					<a href="enterprise-dashboard.html"><div></div></a>
					<!-- DEEP BOTTOM LEFT SIDE-->
    			<a href="user-dashboard.html"><div></div></a>
    			<div> </div>
  				<!-- DEEP BOTTOM RIGHT SIDE-->
					<a href="enterprise-dashboard.html"><div></div></a>
    		</div>
    </div>
</body>
</html>