<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
        integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css"
        integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
        crossorigin="anonymous" />

    <!-- My own style sheets -->
    <link rel="stylesheet" href="./../../static/cdei/css/common.css">
    <link rel="stylesheet" href="./../../static/cdei/css/dashboard.css">
    <link rel="stylesheet" href="./../../static/cdei/css/tablePage.css">

</head>

<body>
    <nav class="navbar sticky-top flex-sm-nowrap p-0 banner">
        <div class="form-control w-100 banner">
            <a href="#">
                <img src="./../../static/cdei/images/logo_text.png" style="height: 33px; margin-left: 2%;" />
            </a>
        </div>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
            <li class="nav-item" style="font-size: 1.2em;">
                Alex
            </li>
        </ul>
        <ul class="navbar-nav px-3 banner" style="margin-right: 2%;">
            <li class="nav-item">
                <img src="./../../static/cdei/images/default_profile_pic.jpg"
                    style="width: 33px; border-radius: 50%;" />
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-9 col-lg-9 ">
                <div class="container">

                    <br><br>

                    <div class="row" style="margin: 0;">
                        <span class="col-md-9 col-lg-10 pt-3 px-4">
                            <div class="d-flex flex-md-nowrap align-items-center mb-3">
                                <img src="./../../static/cdei/images/icons/ic_datalog_active.png" class="title-img" />
                                <h2 class="main-title align-self-end">Your Databank</h1>
                            </div>
                        </span>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col">
                            <div class="dash-box dash-shadow dash-margin">
                                Location Data
                                <br>
                                <br>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">No. Entries</th>
                                            <th scope="col">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">#21048</th>
                                            <td>04-08-2016</td>
                                            <td>03-09-2016</td>
                                            <td>$2304</td>
                                            <td>1,253</td>
                                            <td>
                                                <a href="#">
                                                    <span data-feather="download" style="color: #999;"></span>
                                                    csv
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">#21049</th>
                                            <td>07-08-2016</td>
                                            <td>09-09-2016</td>
                                            <td>$2709</td>
                                            <td>1,853</td>
                                            <td>
                                                <a href="#">
                                                    <span data-feather="download" style="color: #999;"></span>
                                                    csv
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">#21050</th>
                                            <td>08-08-2016</td>
                                            <td>09-09-2016</td>
                                            <td>$1896</td>
                                            <td>1,102</td>
                                            <td>
                                                <a href="#">
                                                    <span data-feather="download" style="color: #999;"></span>
                                                    csv
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="dash-box dash-shadow dash-margin">
                                Purchases Data
                                <br>
                                <br>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">From</th>
                                            <th scope="col">To</th>
                                            <th scope="col">Cost</th>
                                            <th scope="col">No. Entries</th>
                                            <th scope="col">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">#21051</th>
                                            <td>04-08-2016</td>
                                            <td>03-09-2016</td>
                                            <td>$2304</td>
                                            <td>1,253</td>
                                            <td>
                                                <a href="#">
                                                    <span data-feather="download" style="color: #999;"></span>
                                                    csv
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">#21052</th>
                                            <td>07-08-2016</td>
                                            <td>09-09-2016</td>
                                            <td>$2709</td>
                                            <td>1,853</td>
                                            <td>
                                                <a href="#">
                                                    <span data-feather="download" style="color: #999;"></span>
                                                    csv
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">#21053</th>
                                            <td>08-08-2016</td>
                                            <td>09-09-2016</td>
                                            <td>$1896</td>
                                            <td>1,102</td>
                                            <td>
                                                <a href="#">
                                                    <span data-feather="download" style="color: #999;"></span>
                                                    csv
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </main>

            <nav class="d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h4
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span style="color: #ACACAC;">Welcome back!</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                        </a>
                    </h4>
                    <!-- Icons taken from: https://feathericons.com -->
                    <ul class="nav flex-column sidebar-nav-ul">
                        <li class="nav-item">
                            <a class="nav-link" href="dashboardEnterprise.html">
                                <img src="../../static/cdei/images/icons/ic_dashboard_normal.png"
                                    style="height: 15px;" />
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="purchaseData.html">
                                <img src="../../static/cdei/images/icons/ic_money_normal.png"
                                    style="height: 20px;" /></img>
                                <span>Purchase Data</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="yourDatabank.html">
                                <img src="../../static/cdei/images/icons/ic_datalog_active.png"
                                    style="height: 20px;" /></img>
                                <span>Your Databank</span><span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="analyticsTool.html">
                                <img src="../../static/cdei/images/icons/ic_analysis_normal.png"
                                    style="height: 25px;" /></img>
                                <span>Analytics Tool</span>
                            </a>
                        </li>
                    </ul>

                    <div class="sidebar-bottom">
                        <ul class="nav flex-column sidebar-nav-ul">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span data-feather="settings" style="color: #999;"></span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="how_it_works.html">
                                    <span data-feather="help-circle" style="color: #999;"></span>
                                    How it works?
                                </a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-danger sidebar-signout">
                            <span data-feather="log-out"></span>
                            Sign Out
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Icons -->
    <!-- See https://feathericons.com for more icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <script>
        $('.DldLink').on('click', function () {
            $('#dldModal').css('display', 'block');
        });

        $('#doneBtn').on('click', function () {
            $('#dldModal').css('display', 'none');
        });

    </script>


</body>

</html>