/* 
 * Dash boxes
 */

.date-title {
	color:           #FFE88F;
	font-size:       17px;
	text-decoration: none;
}

.dash-box {
	width:            100%;
	padding:          2em;
	font-size:        large;
	margin-top:      -13px;
	border-radius:    5px;
	background-color: #ffffff;
}

.dash-margin {
	margin: 1em;
}

.dash-info-text {
	color:          dimgray;
	font-size:      large;
	text-align:     center;
	margin-bottom:  1em;
	text-transform: uppercase;
}

h5.sub-title {
	color:         white;
	font-weight:   bold;
	border-bottom: 3px dotted #FCC14F;
}

.container a:hover {
	text-decoration: none;
}

.arrow:after {
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.arrow {
	color: #FFE88F;
}

/* 
 * Opportunity Panel
 */

.opportunity-card {
	width: 100%;
	
	border-radius: 0%;
	
	border-style: solid;
	
	border-bottom-color: lightgray;
	border-bottom-width: 5px;
	
	border-left-color: lightgray;
	border-left-width: medium;
}

.opportunity-remove-all {
	right:         3%;
    position:      absolute;
	border-radius: 0%;
}

.opportunity-card-header {
    border:           none;
    font-size:        large;
    font-weight:      bold;
	background-color: #ffffff;
}

.opportunity-close-button {
    right:    5%;
    position: absolute;
}
