/* 
 * Dash boxes
 */

.date-title {
	color:           #FFE88F;
	font-size:       17px;
	text-decoration: none;
}

.dash-info-text {
	color:          dimgray;
	font-size:      large;
	text-align:     center;
	margin-bottom:  1em;
	text-transform: uppercase;
}

h5.sub-title {
	color:         white;
	font-weight:   bold;
	border-bottom: 3px dotted #FCC14F;
}

.container a:hover {
	text-decoration: none;
}

.arrow:after {
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.arrow {
	color: #FFE88F;
}

/* 
 * Top panel that spans the entire container width
 */

.top-panel-div {
    z-index: 1; 
    max-height: 170px; 
    padding: 0;
}

.top-panel-graph {
    margin: 0;
    padding: 0;
    z-index: 0;
    width:100%;
    height: 170px;
}

.top-panel-container {
    z-index: 2;
    position: absolute;
    margin-left: -3%;
    margin-top: -165px; width: 100%;
}

.top-panel-figure-value {
    font-size: 50px; 
    text-align: center; 
    display: block;
}

.top-panel-figure-label {
    font-weight: bold; 
    text-align: center; 
    display: block;
}

/* 
 * Opportunity Panel
 */

.opportunity-card {
	width: 100%;
	
	border-radius: 0%;
	
	border-style: solid;
	
	border-bottom-color: lightgray;
	border-bottom-width: 10px;
	
	border-left-color: lightgray;
	border-left-width: 6px;
}

.opportunity-card:hover { 
	transform:  translate(-2px, 5px);
	transition: 0.4s;
	box-shadow: 12px 12px 17px 9px rgba(100, 100, 100, .3);
	border-bottom-width: 0px;
	border-left-width:   0px;
}

.opportunity-remove-all {
	right:         3%;
    position:      absolute;
	border-radius: 0%;
}

.opportunity-card-header {
    border:           none;
    font-size:        large;
    font-weight:      bold;
	background-color: #ffffff;
}

.opportunity-close-button {
    right:    5%;
    position: absolute;
}

